.segment
{
	height: 90vh;

}

.ui.blue.header
{
	margin-top: 2em;
	font-size: 4em;
	font-family: 'Happy Monkey', cursive;
}

.ui.huge.green.button
{
    margin-top: 3em;
<<<<<<< HEAD
}
=======
}
>>>>>>> 292715175a19f60b8da139f53ae8f7689bfce8ac
